--
-- PostgreSQL database dump
--

\restrict 2jXmXslG8hOFeWBN8IXgex47zBIye1A9MkxeY6xhu6FspE3LtaAsBltdVzFh7kU

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: feedback_decision; Type: TYPE; Schema: public; Owner: writoauth
--

CREATE TYPE public.feedback_decision AS ENUM (
    'genuine',
    'flagged'
);


ALTER TYPE public.feedback_decision OWNER TO writoauth;

--
-- Name: paper_type; Type: TYPE; Schema: public; Owner: writoauth
--

CREATE TYPE public.paper_type AS ENUM (
    'baseline',
    'submission'
);


ALTER TYPE public.paper_type OWNER TO writoauth;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: writoauth
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO writoauth;

--
-- Name: analysis_results; Type: TABLE; Schema: public; Owner: writoauth
--

CREATE TABLE public.analysis_results (
    id integer NOT NULL,
    paper_id integer NOT NULL,
    consistency_score double precision NOT NULL,
    confidence_level double precision NOT NULL,
    breakdown json NOT NULL,
    schema_version smallint DEFAULT '2'::smallint NOT NULL
);


ALTER TABLE public.analysis_results OWNER TO writoauth;

--
-- Name: analysis_results_id_seq; Type: SEQUENCE; Schema: public; Owner: writoauth
--

CREATE SEQUENCE public.analysis_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.analysis_results_id_seq OWNER TO writoauth;

--
-- Name: analysis_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: writoauth
--

ALTER SEQUENCE public.analysis_results_id_seq OWNED BY public.analysis_results.id;


--
-- Name: baseline_profiles; Type: TABLE; Schema: public; Owner: writoauth
--

CREATE TABLE public.baseline_profiles (
    id integer NOT NULL,
    student_id integer NOT NULL,
    version integer NOT NULL,
    confidence_level double precision NOT NULL,
    aggregated_features json NOT NULL,
    schema_version smallint DEFAULT '2'::smallint NOT NULL
);


ALTER TABLE public.baseline_profiles OWNER TO writoauth;

--
-- Name: baseline_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: writoauth
--

CREATE SEQUENCE public.baseline_profiles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.baseline_profiles_id_seq OWNER TO writoauth;

--
-- Name: baseline_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: writoauth
--

ALTER SEQUENCE public.baseline_profiles_id_seq OWNED BY public.baseline_profiles.id;


--
-- Name: feature_vectors; Type: TABLE; Schema: public; Owner: writoauth
--

CREATE TABLE public.feature_vectors (
    id integer NOT NULL,
    paper_id integer NOT NULL,
    features json NOT NULL,
    schema_version smallint DEFAULT '2'::smallint NOT NULL
);


ALTER TABLE public.feature_vectors OWNER TO writoauth;

--
-- Name: feature_vectors_id_seq; Type: SEQUENCE; Schema: public; Owner: writoauth
--

CREATE SEQUENCE public.feature_vectors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.feature_vectors_id_seq OWNER TO writoauth;

--
-- Name: feature_vectors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: writoauth
--

ALTER SEQUENCE public.feature_vectors_id_seq OWNED BY public.feature_vectors.id;


--
-- Name: feedback; Type: TABLE; Schema: public; Owner: writoauth
--

CREATE TABLE public.feedback (
    id integer NOT NULL,
    paper_id integer NOT NULL,
    decision public.feedback_decision NOT NULL,
    remarks text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.feedback OWNER TO writoauth;

--
-- Name: feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: writoauth
--

CREATE SEQUENCE public.feedback_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.feedback_id_seq OWNER TO writoauth;

--
-- Name: feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: writoauth
--

ALTER SEQUENCE public.feedback_id_seq OWNED BY public.feedback.id;


--
-- Name: papers; Type: TABLE; Schema: public; Owner: writoauth
--

CREATE TABLE public.papers (
    id integer NOT NULL,
    student_id integer NOT NULL,
    subject_id integer NOT NULL,
    type public.paper_type NOT NULL,
    content text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    source_format character varying(16) DEFAULT 'paste'::character varying NOT NULL
);


ALTER TABLE public.papers OWNER TO writoauth;

--
-- Name: papers_id_seq; Type: SEQUENCE; Schema: public; Owner: writoauth
--

CREATE SEQUENCE public.papers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.papers_id_seq OWNER TO writoauth;

--
-- Name: papers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: writoauth
--

ALTER SEQUENCE public.papers_id_seq OWNED BY public.papers.id;


--
-- Name: students; Type: TABLE; Schema: public; Owner: writoauth
--

CREATE TABLE public.students (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    teacher_id integer NOT NULL
);


ALTER TABLE public.students OWNER TO writoauth;

--
-- Name: students_id_seq; Type: SEQUENCE; Schema: public; Owner: writoauth
--

CREATE SEQUENCE public.students_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.students_id_seq OWNER TO writoauth;

--
-- Name: students_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: writoauth
--

ALTER SEQUENCE public.students_id_seq OWNED BY public.students.id;


--
-- Name: subjects; Type: TABLE; Schema: public; Owner: writoauth
--

CREATE TABLE public.subjects (
    id integer NOT NULL,
    teacher_id integer NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.subjects OWNER TO writoauth;

--
-- Name: subjects_id_seq; Type: SEQUENCE; Schema: public; Owner: writoauth
--

CREATE SEQUENCE public.subjects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subjects_id_seq OWNER TO writoauth;

--
-- Name: subjects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: writoauth
--

ALTER SEQUENCE public.subjects_id_seq OWNED BY public.subjects.id;


--
-- Name: teachers; Type: TABLE; Schema: public; Owner: writoauth
--

CREATE TABLE public.teachers (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.teachers OWNER TO writoauth;

--
-- Name: teachers_id_seq; Type: SEQUENCE; Schema: public; Owner: writoauth
--

CREATE SEQUENCE public.teachers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.teachers_id_seq OWNER TO writoauth;

--
-- Name: teachers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: writoauth
--

ALTER SEQUENCE public.teachers_id_seq OWNED BY public.teachers.id;


--
-- Name: analysis_results id; Type: DEFAULT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.analysis_results ALTER COLUMN id SET DEFAULT nextval('public.analysis_results_id_seq'::regclass);


--
-- Name: baseline_profiles id; Type: DEFAULT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.baseline_profiles ALTER COLUMN id SET DEFAULT nextval('public.baseline_profiles_id_seq'::regclass);


--
-- Name: feature_vectors id; Type: DEFAULT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.feature_vectors ALTER COLUMN id SET DEFAULT nextval('public.feature_vectors_id_seq'::regclass);


--
-- Name: feedback id; Type: DEFAULT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.feedback ALTER COLUMN id SET DEFAULT nextval('public.feedback_id_seq'::regclass);


--
-- Name: papers id; Type: DEFAULT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.papers ALTER COLUMN id SET DEFAULT nextval('public.papers_id_seq'::regclass);


--
-- Name: students id; Type: DEFAULT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.students ALTER COLUMN id SET DEFAULT nextval('public.students_id_seq'::regclass);


--
-- Name: subjects id; Type: DEFAULT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.subjects ALTER COLUMN id SET DEFAULT nextval('public.subjects_id_seq'::regclass);


--
-- Name: teachers id; Type: DEFAULT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.teachers ALTER COLUMN id SET DEFAULT nextval('public.teachers_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: writoauth
--

COPY public.alembic_version (version_num) FROM stdin;
c3f8e1d47b92
\.


--
-- Data for Name: analysis_results; Type: TABLE DATA; Schema: public; Owner: writoauth
--

COPY public.analysis_results (id, paper_id, consistency_score, confidence_level, breakdown, schema_version) FROM stdin;
\.


--
-- Data for Name: baseline_profiles; Type: TABLE DATA; Schema: public; Owner: writoauth
--

COPY public.baseline_profiles (id, student_id, version, confidence_level, aggregated_features, schema_version) FROM stdin;
\.


--
-- Data for Name: feature_vectors; Type: TABLE DATA; Schema: public; Owner: writoauth
--

COPY public.feature_vectors (id, paper_id, features, schema_version) FROM stdin;
\.


--
-- Data for Name: feedback; Type: TABLE DATA; Schema: public; Owner: writoauth
--

COPY public.feedback (id, paper_id, decision, remarks, created_at) FROM stdin;
\.


--
-- Data for Name: papers; Type: TABLE DATA; Schema: public; Owner: writoauth
--

COPY public.papers (id, student_id, subject_id, type, content, created_at, source_format) FROM stdin;
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: writoauth
--

COPY public.students (id, name, created_at, teacher_id) FROM stdin;
\.


--
-- Data for Name: subjects; Type: TABLE DATA; Schema: public; Owner: writoauth
--

COPY public.subjects (id, teacher_id, name, created_at) FROM stdin;
\.


--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: writoauth
--

COPY public.teachers (id, name, email, password, created_at) FROM stdin;
1	Kent Steven Perez	ksperez.degullado@gmail.com	$2b$12$9CnQVsQZOGEsK4LjDMJgGeG/T4n93hX4uKcuKj7TXf9Gu0YoIsUe6	2026-09-25 11:14:58.57135
\.


--
-- Name: analysis_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: writoauth
--

SELECT pg_catalog.setval('public.analysis_results_id_seq', 1, false);


--
-- Name: baseline_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: writoauth
--

SELECT pg_catalog.setval('public.baseline_profiles_id_seq', 1, false);


--
-- Name: feature_vectors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: writoauth
--

SELECT pg_catalog.setval('public.feature_vectors_id_seq', 1, false);


--
-- Name: feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: writoauth
--

SELECT pg_catalog.setval('public.feedback_id_seq', 1, false);


--
-- Name: papers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: writoauth
--

SELECT pg_catalog.setval('public.papers_id_seq', 1, false);


--
-- Name: students_id_seq; Type: SEQUENCE SET; Schema: public; Owner: writoauth
--

SELECT pg_catalog.setval('public.students_id_seq', 1, false);


--
-- Name: subjects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: writoauth
--

SELECT pg_catalog.setval('public.subjects_id_seq', 1, false);


--
-- Name: teachers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: writoauth
--

SELECT pg_catalog.setval('public.teachers_id_seq', 1, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: analysis_results analysis_results_paper_id_key; Type: CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.analysis_results
    ADD CONSTRAINT analysis_results_paper_id_key UNIQUE (paper_id);


--
-- Name: analysis_results analysis_results_pkey; Type: CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.analysis_results
    ADD CONSTRAINT analysis_results_pkey PRIMARY KEY (id);


--
-- Name: baseline_profiles baseline_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.baseline_profiles
    ADD CONSTRAINT baseline_profiles_pkey PRIMARY KEY (id);


--
-- Name: feature_vectors feature_vectors_paper_id_key; Type: CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.feature_vectors
    ADD CONSTRAINT feature_vectors_paper_id_key UNIQUE (paper_id);


--
-- Name: feature_vectors feature_vectors_pkey; Type: CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.feature_vectors
    ADD CONSTRAINT feature_vectors_pkey PRIMARY KEY (id);


--
-- Name: feedback feedback_paper_id_key; Type: CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_paper_id_key UNIQUE (paper_id);


--
-- Name: feedback feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_pkey PRIMARY KEY (id);


--
-- Name: papers papers_pkey; Type: CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.papers
    ADD CONSTRAINT papers_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: subjects subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_pkey PRIMARY KEY (id);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (id);


--
-- Name: baseline_profiles uq_student_version; Type: CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.baseline_profiles
    ADD CONSTRAINT uq_student_version UNIQUE (student_id, version);


--
-- Name: ix_baseline_profiles_student_id; Type: INDEX; Schema: public; Owner: writoauth
--

CREATE INDEX ix_baseline_profiles_student_id ON public.baseline_profiles USING btree (student_id);


--
-- Name: ix_papers_student_id; Type: INDEX; Schema: public; Owner: writoauth
--

CREATE INDEX ix_papers_student_id ON public.papers USING btree (student_id);


--
-- Name: ix_papers_subject_id; Type: INDEX; Schema: public; Owner: writoauth
--

CREATE INDEX ix_papers_subject_id ON public.papers USING btree (subject_id);


--
-- Name: ix_students_teacher_id; Type: INDEX; Schema: public; Owner: writoauth
--

CREATE INDEX ix_students_teacher_id ON public.students USING btree (teacher_id);


--
-- Name: ix_subjects_teacher_id; Type: INDEX; Schema: public; Owner: writoauth
--

CREATE INDEX ix_subjects_teacher_id ON public.subjects USING btree (teacher_id);


--
-- Name: ix_teachers_email; Type: INDEX; Schema: public; Owner: writoauth
--

CREATE UNIQUE INDEX ix_teachers_email ON public.teachers USING btree (email);


--
-- Name: analysis_results analysis_results_paper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.analysis_results
    ADD CONSTRAINT analysis_results_paper_id_fkey FOREIGN KEY (paper_id) REFERENCES public.papers(id) ON DELETE CASCADE;


--
-- Name: baseline_profiles baseline_profiles_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.baseline_profiles
    ADD CONSTRAINT baseline_profiles_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: feature_vectors feature_vectors_paper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.feature_vectors
    ADD CONSTRAINT feature_vectors_paper_id_fkey FOREIGN KEY (paper_id) REFERENCES public.papers(id) ON DELETE CASCADE;


--
-- Name: feedback feedback_paper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_paper_id_fkey FOREIGN KEY (paper_id) REFERENCES public.papers(id) ON DELETE CASCADE;


--
-- Name: students fk_students_teacher_id_teachers; Type: FK CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT fk_students_teacher_id_teachers FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON DELETE RESTRICT;


--
-- Name: papers papers_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.papers
    ADD CONSTRAINT papers_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: papers papers_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.papers
    ADD CONSTRAINT papers_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(id) ON DELETE RESTRICT;


--
-- Name: subjects subjects_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: writoauth
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict 2jXmXslG8hOFeWBN8IXgex47zBIye1A9MkxeY6xhu6FspE3LtaAsBltdVzFh7kU

